<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XboxOGKit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <XboxOGKit.Properties.Settings>
            <setting name="LeftTrigDZone" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RightTrigDZone" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LStickDZone" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RStickDZone" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RemapControls" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowControl" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cbRTigEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbLTrigEn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbLSe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbRSe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbBacke" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbStarte" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbWhitee" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbBlacke" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbYe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbXe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbBe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbAe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbRSClicke" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbLSClicke" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableGuideSys" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableVibrator" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="inputYequals" serializeAs="String">
                <value>Y</value>
            </setting>
            <setting name="inputXequals" serializeAs="String">
                <value>X</value>
            </setting>
            <setting name="inputBequals" serializeAs="String">
                <value>B</value>
            </setting>
            <setting name="inputAequals" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="inputWhiteE" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="inputBlackE" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="inputLTequals" serializeAs="String">
                <value>LT</value>
            </setting>
            <setting name="inputRTequals" serializeAs="String">
                <value>RT</value>
            </setting>
            <setting name="inputStartequals" serializeAs="String">
                <value>Start</value>
            </setting>
            <setting name="inputBackE" serializeAs="String">
                <value>Back</value>
            </setting>
            <setting name="inputLStE" serializeAs="String">
                <value>LS</value>
            </setting>
            <setting name="inputRStE" serializeAs="String">
                <value>RS</value>
            </setting>
            <setting name="RunXb2AtStartUp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TstBtnFdback" serializeAs="String">
                <value>False</value>
            </setting>
        </XboxOGKit.Properties.Settings>
    </userSettings>
</configuration>